[project]
name = "belar"
dependencies = [
    "Levenshtein",
    "rouge-score",
    "numpy",
    "transformers",
    "sentence-transformers",
    "nltk",
    "datasets",
    "spacy",
]
dynamic = ["version", "readme"]

[tool.setuptools.dynamic]
readme = {file = ["README.md"], content-type = "text/plain"}

[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"
[tool.setuptools_scm]
write_to = "belar/_version.py"
