name: Run gen_ref_pages

on:
  push:
    branches:
      - main


jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'  # Specify your Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[docs]"
          pip install -e ".[env]"

      - name: Run gen_ref_pages.py
        run: |
          python scripts/gen_ref_pages.py
