name: Slash Commands
on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

jobs:
  slash_commands:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commands: |
            label
          permission: write